@keyframes unblur {
  to {filter: blur(0px);}
}
@keyframes fadeIn {
  to {filter: opacity(1);}
}

body{
  min-height: 200vh;
}

#background-image {
  z-index: -1;
  position: relative;
  animation: unblur 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  margin-bottom: 100vh;
  width: 100vw;
  filter: blur(10px); 
}


#title {
  animation: fadeIn 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  filter: opacity(0);
}