@keyframes unblur {
  to {filter: blur(15px);}
}
@keyframes fadeOut {
  to {filter: opacity(0);}
}

body{
  min-height: 200vh;
}

#background-image {
  z-index: -1;
  position: fixed;
  animation: unblur 1s linear ;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  margin-bottom: 100vh;
  width: 100vw;
  filter: blur(0px); 
  transform: scale(110%);
}

#content-wrapper{
  
  transform: translateY(calc(150vh - 50%));
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  position: fixed;
  z-index: 10;
  animation: fadeOut 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  filter: opacity(1);
}

/* mouse things */
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
    
    
}
.icon-scroll {
  position: relative;
  width: 30px;
  height: 50px;
  margin-left: -20px;
  bottom: 10px;
  margin-top: -35px;
  border: 2px solid #fff;
  border-radius: 25px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}
